{% extends "base.html" %}
{% block title %}VOC Info: Index{% endblock %}
{%block page_header %}
{% endblock %}
{% block page_content %}
<div class="jumbotron">
  <div class="container">
    <h1>Python!</h1>
    <p>Python is a programming language that lets you work quickly and integrate systems more effectively. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Get Started</h2>
    <p>Whether you're new to programming or an experienced developer, it's easy to learn and use Python.
    Start with our Beginner’s Guide </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Download</h2>
    <p>Python source code and installers are available for download for all versions! Not sure which version to use? </p>
    <p><a class="btn btn-default" href="#" role="button">Latest: Python 3.5.0 - Python 2.7.10 &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Docs</h2>
    <p>Documentation for Python's standard library, along with tutorials and guides, are available online.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
<p></p>
  <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; VOC Blog</p>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
  </footer>
{% endblock %}